 .bg-blue {
            background-color: #1565C0 !important;
        }
        
/*for viewGoals page, will cross out text after textbox is checked
set input with strikethrough class ; set label to cb-label class
*/
.strikethrough:checked + .cb-label{
    text-decoration: line-through;
    color: gray;
}

.article-container-wide {
    padding: 10px;
    margin: 10px;
}

.card-img-top {
    border-radius: 5%;
    margin: 10px 0px 10px 0px;
}

.article-container img {
    border-radius: 5%;
}

.center-card {
    margin: 20px 0px 20px 0px;
}

.article-container {
    padding: 5px;
    margin: 5px;
}

.additional-articles {
    margin: 20px 0px 20px 0px;
}

.form-container {
    margin: 20px 0px 20px 0px;
}

.textinput {
    padding: 8px;
    margin-top: 10px;
}

.textinput > input {
    background-color:#eeeeee;
    border: 3px solid #a8a8a8;
}

#trash {
    transition: transform 0.2s ease;
}

#rmvHabit:hover,
#rmvHabit.drag-hover {
    transform: scale(1.15);
    cursor: pointer;
}